*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container_somtonavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
}

.navs{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px
}

.nav_connect{
    padding:20px 40px;
    background-color: #13dd35;
    color: white;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
}

.container_somtonavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #222;
  color: #fff;
  position: fixed;  /* keeps navbar at top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.intro_section {
  margin-top: 100px; /* pushes text below fixed navbar */
  text-align: center;
  color: #333;
  padding: 20px;
}

.somtoprofile_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  bottom: 10px solid #fff;
}
