
.card_container{
    padding: 4rem;
    background-color: #eff2ef;
}
.page_title{
    font-size: 90px;
    color: #dce1dc;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2rem;
}
.instructor_cards{
    display: grid;
    place-items: center;   
    gap: 2rem; 
}
.instructor_cards section{
    width: 50%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
}


.student_cards{
    margin-top: 6rem;
}
.student_cards section{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);
}
a{
    text-decoration: none;
    color: #000;
}